<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>

<body>
    <% if (locals.user) { %>
        <% let show=user.membership_status=='true' || user.admin %>
            <a href="/create-message">create a message</a>

            <% if (messages.length==0) { %>
                <p>No messages to display</p>
                <%} else { %>
                    <table>
                        <tr>
                            <% if (show ) { %>
                                <th>
                                    <%= Object.keys(messages[0])[3]%>
                                </th>
                                <th>
                                    <%= Object.keys(messages[0])[4]%>
                                </th>

                                <% } %>
                                    <th>
                                        <%= Object.keys(messages[0])[2]%>
                                    </th>

                        </tr>
                        <%messages.forEach(msg=> { %>
                            <tr>
                                <% if (show) { %>
                                    <td>
                                        <%=msg.time.toLocaleString('en-us')%>
                                    </td>
                                    <td>
                                        <%=msg.username%>
                                    </td>
                                    <% } %>
                                        <td>
                                            <%=msg.message%>
                                        </td>
                                        <% if (user.admin) { %>
                                            <!-- <td><button class="delete" id="<%=msg.id%>">delete</button></td> -->
                                            <td>
                                                <form action="/delete/<%= msg.id %>" method="POST"
                                                    onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                    <input type="hidden" name="id" value="<%=msg.id%>">
                                                    <button type="submit">Delete</button>
                                                </form>
                                            </td>
                                            <% } %>

                            </tr>
                            <% }); %>
                    </table>
                    <%}%>
                        <a href=" /admin-form">become an admin</a>
                        <a href="/join-club">join club</a>
                        <a href="/sign-out">sign out</a>
                        <% } else {%>
                            <p>you are not signed in.</p>
                            <a href="/sign-in">sign in</a>
                            <a href="/sign-up">create an account</a>
                            <% } %>


</body>
<script>
    onload = () => {
        document.querySelectorAll("button.delete").forEach((btn) => {
            btn.addEventListener("click", () => {
                console.log(btn.id);
                window.location(`/delete?id=${btn.id}`)
            })
        })
    }
</script>

</html>